<%- include('../partials/_header') %>
<div class="px-lg-5">
<h3 class="mt-5">Edit Product</h3>
<form action="/products/<%= product.id %>/update" method="POST" enctype="multipart/form-data" class="row g-3">
    <div class="col-md-6">
        <input type="text" name="name" class="form-control" placeholder="Product name" value="<%= product.name %>" required>
    </div>
    <div class="col-md-6">
        <textarea name="description" class="form-control" value="<%= product.description %>" placeholder="Description" required>
            <%= product.description %>
        </textarea>
    </div>
    <div class="col-md-3">
        <input type="number" name="price" class="form-control" placeholder="Price" value="<%= product.price %>" required>
    </div>
    <div class="col-md-3">
        <select name="condition" class="form-select" required>
            <option value="">Select Condition</option>
            <option value="Used" <% if (product.condition === 'Used') { %> selected <% } %> >Used</option>
            <option value="Refurbished" <% if (product.condition === 'Refurbished') { %> selected <% } %> >Refurbished</option>
        </select>
    </div>
    <div class="col-md-4">
        <select name="category_id" class="form-select" required>
            <option value="">Select Category</option>
            <% categories.forEach(category => { %>
                <option value="<%= category.id %>" <% if (product.category_id === category.id) { %> selected <% } %>><%= category.name %></option>
            <% }) %>
        </select>
    </div>
    <div class="col-md-4">
        <input type="file" name="image" class="form-control" value="<%= product.image %>" >
        <input type="hidden" name="existingImage" value="<%= product.image %>">  
    </div>
    <div class="col-md-4">
        <input type="number" name="stock" class="form-control" placeholder="Stock" value="<%= product.stock %>" required>
    </div>
    <div class="col-md-4">
        <div class="rating">
            <% for(let i=1; i<=5; i++) { %>
                <% if(i <= Math.floor(product.rating)) { %>
                    <i class="bi bi-star-fill text-warning"></i>
                <% } else if(i === Math.ceil(product.rating) && product.rating % 1 > 0) { %>
                    <i class="bi bi-star-half text-warning"></i>
                <% } else { %>
                    <i class="bi bi-star text-warning"></i>
                <% } %>
            <% } %>
        </div>
        <input type="number" name="rating" step="0.1" class="form-control" min="0" max="5" placeholder="Rating" value="<%= product.rating %>">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>
</div>
<%- include('../partials/_footer') %>